.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

::selection {
  background-color: #9F694D;
  color: #fff;
  text-shadow: none;
}