body {
  font-family: "Noto Sans", "Noto Sans KR", "Malgun Gothic", "맑은 고딕", "Nanum Gothic", "나눔 고딕", "돋움", dotum, sans-serif;
  font-size: 1em;
  line-height: 1.5;
  letter-spacing: -.07em;
  word-spacing: 0.05em;
}

.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

::selection {
  background-color: #9F694D;
  color: #fff;
  text-shadow: none;
}

.scroll-top-button {
  display: block;
  position: fixed;
  bottom: -60px;
  right: 21%;
  width: 60px;
  height: 60px;
  background-color: #000;
  opacity: 0.3;
  z-index: 100;
  transition: all 0.2s ease-out;
  cursor: pointer;

  &:hover {
    background-color: #000;
    opacity: 0.75;
  }

  &.is-active {
    bottom: 0;
  }
}