@charset "UTF-8";
body {
  font-family: "Noto Sans", "Noto Sans KR", "Malgun Gothic", "맑은 고딕", "Nanum Gothic", "나눔 고딕", "돋움", dotum, sans-serif;
  font-size: 1em;
  line-height: 1.5;
  letter-spacing: -0.07em;
  word-spacing: 0.05em;
}

.promotion-section {
  position: relative;
}
.promotion-section .promotion__video {
  height: 31.25vw;
  position: relative;
}
.promotion-section .promotion__video .video-youtube {
  height: 100%;
}
.promotion-section .promotion__video--button {
  width: 100%;
  height: 31.25vw;
  position: absolute;
  top: 0;
  left: 0;
}
.promotion-section .promotion__video--button::after {
  display: inline-block;
  content: "";
  width: 5.2083333333vw;
  height: 5.2083333333vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url(https://www.sulwhasoo.com/kr/ko/resource/img/cover/secret-of-ageless-beauty/ico_play.svg) no-repeat 50% 50%/85% auto;
  transition: background-image 0.2s ease-out;
}
.promotion-section .promotion__video--button:hover::after {
  background: url(https://www.sulwhasoo.com/kr/ko/resource/img/cover/secret-of-ageless-beauty/ico_play_hover.svg) no-repeat 50% 50%/85% auto;
}
.promotion-section--visual {
  background: url(https://www.sulwhasoo.com/kr/ko/resource/img/cover/jaeumsaengSerum/jaeumsaengSerum_kr_visual_bg_pc.jpg) no-repeat 0/100%;
  height: 48vw;
}
.promotion-section--visual .text-wrapper {
  position: absolute;
  top: 44%;
  right: 28%;
}
.promotion-section--visual .text-wrapper .promotion__title {
  display: block;
  width: 20.8vw;
  padding-bottom: 2vw;
}
.promotion-section--visual .text-wrapper .promotion__text {
  width: 24vw;
}
.promotion-section--visual .promotion__text--02 {
  position: absolute;
  top: 36%;
  left: 29.5%;
  width: 3vw;
}
.promotion-section--video {
  background: url(https://www.sulwhasoo.com/kr/ko/resource/img/cover/jaeumsaengSerum/jaeumsaengSerum_kr_video-section_bg_pc.jpg) no-repeat 50% 0/100%;
  padding: 7.6041666667vw 0 5.5208333333vw;
}
.promotion-section--video .promotion__content {
  text-align: center;
}
.promotion-section--video .promotion__content .promotion__video--01 {
  width: 57.1354166667vw;
  margin: 0 auto;
  z-index: 5;
}
.promotion-section--video .promotion__content .promotion__video--01 .promotion__video--button {
  background: url(https://www.sulwhasoo.com/kr/ko/resource/img/cover/jaeumsaengSerum/jaeumsaengSerum_kr_video-cover01_pc_220616.jpg) no-repeat 50% 50%/cover;
  background-size: cover;
}
.promotion-section--video .promotion__content .text-wrapper {
  margin-top: 1.5625vw;
}
.promotion-section--video .promotion__content .text-wrapper .promotion__text {
  color: #fff;
  font-size: 1.3541666667vw;
  line-height: 1.6;
  letter-spacing: -0.04em;
}
.promotion-section--video .promotion__content .text-wrapper .promotion__text-name {
  font-size: 1.6666666667vw;
  color: #fffade;
  margin: 1.5625vw 0;
}
.promotion-section--video .promotion__content .text-wrapper .promotion__text-tags {
  line-height: 1.7;
  display: block;
}
.promotion-section--information .promotion__content {
  display: flex;
}
.promotion-section--information .promotion__content .product-information {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}
.promotion-section--information .promotion__content .product-image {
  width: 50%;
}
.promotion-section--information .promotion__content .product-badge span {
  display: inline-block;
  font-size: 1.25vw;
  line-height: 1.2;
  padding: 0.1041666667vw 0.625vw 0.2083333333vw;
  background-color: #d37025;
  color: #fff;
}
.promotion-section--information .promotion__content .product-name {
  font-size: 2.1875vw;
  font-weight: 600;
  margin-top: 0.5208333333vw;
}
.promotion-section--information .promotion__content .product-name--english {
  font-size: 1.25vw;
  margin-top: 0.15625vw;
  color: #4a2d14;
  line-height: 1.2;
  letter-spacing: 0.025em;
  font-weight: 300;
}
.promotion-section--information .promotion__content .product-description {
  font-size: 1.25vw;
  margin-top: 1.5625vw;
  font-weight: 300;
}
.promotion-section--information .promotion__content .product-text--gray {
  display: block;
  font-size: 0.9375vw;
  font-weight: 300;
  color: #999;
  margin-top: 0.5208333333vw;
}
.promotion-section--information .promotion__content .text-wrapper {
  margin-top: 1.5625vw;
  font-size: 1.25vw;
  font-weight: 300;
  letter-spacing: -0.025em;
}
.promotion-section--information .promotion__content .text-wrapper .product-price {
  position: relative;
}
.promotion-section--information .promotion__content .text-wrapper .product-price--01 {
  padding-right: 1.1458333333vw;
  margin-right: 0.625vw;
}
.promotion-section--information .promotion__content .text-wrapper .product-price--01::after {
  display: inline-block;
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #bfbfbf;
  width: 0.1041666667vw;
  height: 0.9375vw;
}
.promotion-section--information .promotion__content .button-wrapper {
  margin-top: 3.3854166667vw;
}
.promotion-section--information .promotion__content .button-wrapper .product__button {
  display: inline-block;
  border: 1px solid;
  padding: 0.625vw 2.96875vw 0.5208333333vw;
  font-size: 1.3020833333vw;
  font-weight: 300;
  line-height: 1.9;
  box-sizing: border-box;
}
.promotion-section--information .promotion__content .button-wrapper .product__button-more {
  border-color: #969696;
  color: #000;
}
.promotion-section--information .promotion__content .button-wrapper .product__button-checkout {
  background-color: #d37025;
  border-color: #d37025;
  color: #fff;
  margin-left: 0.3645833333vw;
}
.promotion-section--information .promotion__content .product__button:hover-more {
  background-color: #000;
  color: #fff;
}
.promotion-section--information .promotion__content .product__button:hover-checkout {
  background-color: #fff;
  color: #d37025;
}
.promotion-section--banner {
  background-color: #f8f0e6;
}
.promotion-section--banner .banner-inner {
  background: url(https://www.sulwhasoo.com/kr/ko/resource/img/cover/jaeumsaengSerum/jaeumsaengSerum_kr_effect-visual_bg_pc_220616.jpg) no-repeat 50%/100%;
  width: 74.6875vw;
  height: 34.375vw;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.promotion-section--banner .promotion-text {
  padding-left: 10.4166666667vw;
  font-size: 2.34375vw;
  line-height: 1.3;
  letter-spacing: -0.04em;
  color: #443126;
}
.promotion-section--banner .promotion-text em {
  display: block;
  color: #d46c2f;
  font-weight: 500;
}
.promotion-section--proof {
  background-color: #e8dcce;
  padding-bottom: 8.8541666667vw;
}
.promotion-section--proof .promotion__content {
  width: 57.8125vw;
  margin: 0 auto;
}
.promotion-section--proof .promotion__content .promotion__video--02 {
  width: 57.2916666667vw;
  top: -4.9479166667vw;
  border: 5px solid #fcf9f5;
}
.promotion-section--proof .promotion__content .promotion__video--02 .promotion__video--button {
  background: url(https://www.sulwhasoo.com/kr/ko/resource/img/cover/jaeumsaengSerum/jaeumsaengSerum_kr_video-cover02_pc.jpg) no-repeat 50% 50%/cover;
  background-size: cover;
}
.promotion-section--proof .promotion__content .promotion__list {
  margin-top: 3.3854166667vw;
}
.promotion-section--proof .promotion__content .promotion__list .promotion__item {
  background-color: #fdf8ec;
  height: 16.40625vw;
  display: flex;
}
.promotion-section--proof .promotion__content .promotion__list .promotion__item:not(:first-child) {
  margin-top: 4.1666666667vw;
}
.promotion-section--proof .promotion__content .promotion__list .promotion__item .item-image {
  width: 18.75vw;
  height: 18.75vw;
  margin: -1.1979166667vw 0 0 2.8645833333vw;
  flex: none;
}
.promotion-section--proof .promotion__content .promotion__list .promotion__item .item-information {
  width: 100%;
  padding: 4.0625vw 4.6875vw 0 3.125vw;
}
.promotion-section--proof .promotion__content .promotion__list .promotion__item .item-information .item-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 1.3;
}
.promotion-section--proof .promotion__content .promotion__list .promotion__item .item-information .item__title {
  font-size: 2.0833333333vw;
  font-weight: 600;
  color: #000;
  letter-spacing: -0.04em;
}
.promotion-section--proof .promotion__content .promotion__list .promotion__item .item-information .item__description {
  font-size: 1.4583333333vw;
  font-weight: 300;
  color: #000;
  line-height: 1.3;
  letter-spacing: -0.09em;
}
.promotion-section--proof .promotion__content .promotion__list .promotion__item .item-information .text-percent {
  font-size: 3.125vw;
  font-weight: 500;
  color: #c55805;
  letter-spacing: -0.05em;
}
.promotion-section--proof .promotion__content .promotion__list .promotion__item .item-information .text-percent::after {
  display: inline-block;
  content: "%";
  font-size: 1.5625vw;
  font-weight: 400;
  letter-spacing: -0.01em;
  margin-left: -0.5208333333vw;
}
.promotion-section--proof .promotion__content .promotion__list .promotion__item .item-information .text-skin {
  display: block;
  text-align: center;
  font-size: 1.4583333333vw;
  font-weight: 300;
  line-height: 1.25;
  color: #c49880;
  letter-spacing: -0.04em;
  margin-top: 0.5208333333vw;
}
.promotion-section--proof .promotion__content .promotion__list .promotion__item .item-information .text-wrapper--02 {
  padding-left: 1.5625vw;
  position: relative;
}
.promotion-section--proof .promotion__content .promotion__list .promotion__item .item-information .text-wrapper--02::before {
  display: inline-block;
  content: "";
  width: 0.1041666667vw;
  height: 80%;
  background-color: #c49880;
  position: absolute;
  top: 50%;
  transform: translateY(-45%);
  left: 0;
}
.promotion-section--proof .promotion__content .test-result {
  margin-top: 3.125vw;
  text-align: center;
  font-size: 0.9375vw;
  font-weight: 300;
  color: #553c2f;
  line-height: 1.9;
  letter-spacing: -0.04em;
}
.promotion-section--proof .promotion__content .test-result .text-wrapper {
  display: block;
}
.promotion-section--proof .promotion__content .test-result .text-unit {
  position: relative;
  padding-right: 1.25vw;
  margin-right: 1.3020833333vw;
}
.promotion-section--proof .promotion__content .test-result .text-unit::after {
  display: inline-block;
  content: "";
  width: 0.1041666667vw;
  height: 16px;
  background-color: #7b675b;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  opacity: 0.8;
}
.promotion-section--effect {
  background: url(https://www.sulwhasoo.com/kr/ko/resource/img/cover/jaeumsaengSerum/jaeumsaengSerum_kr_effect-section_bg_pc.jpg) no-repeat 50%/100%;
}
.promotion-section--effect .promotion__content {
  padding: 9.1145833333vw 0;
  margin: 0 11.3802083333vw;
}
.promotion-section--effect .promotion__list {
  display: flex;
  justify-content: space-between;
}
.promotion-section--effect .promotion__list .promotion__item {
  width: 33.3%;
  margin: 0 0.78125vw;
  background-color: #fff;
}
.promotion-section--effect .item-information {
  padding: 1.5625vw;
  text-align: center;
}
.promotion-section--effect .item-information .item__title {
  font-size: 1.09375vw;
  font-weight: 500;
  line-height: 1.37;
  letter-spacing: -0.05em;
  color: #322727;
}
.promotion-section--effect .item-information .item-information--list {
  margin-top: 0.78125vw;
}
.promotion-section--effect .item-information .item-information--list .list-item {
  font-size: 0.7291666667vw;
  font-weight: 300;
  line-height: 1.57;
  letter-spacing: -0.05em;
  color: #968577;
  margin-top: 0.15625vw;
}
.promotion-section--duo {
  background: #fdf8f2 url(https://www.sulwhasoo.com/kr/ko/resource/img/cover/jaeumsaengSerum/jaeumsaengSerum_kr_section-relation_obj_pc.jpg) no-repeat;
  background-position: 100% 16.3541666667vw;
  background-size: auto 20.5208333333vw;
}
.promotion-section--duo .promotion__content {
  padding: 8.8541666667vw 0 4.6875vw;
  margin: 0 20.6510416667vw;
}
.promotion-section--duo .promotion__content .promotion__title {
  font-size: 3.125vw;
  font-weight: 300;
  line-height: 1.3;
  letter-spacing: -0.05em;
  text-align: center;
}
.promotion-section--duo .promotion__content .promotion__title em {
  font-weight: 500;
}
.promotion-section--duo .promotion__list {
  margin-top: 6.25vw;
}
.promotion-section--duo .promotion__list .promotion__item {
  display: flex;
}
.promotion-section--duo .promotion__list .promotion__item .item-information {
  padding: 8.75vw 0 0 3.6458333333vw;
}
.promotion-section--duo .promotion__list .promotion__item .item-information--02 {
  order: 1;
}
.promotion-section--duo .promotion__list .item-image {
  width: 22.3958333333vw;
}
.promotion-section--duo .promotion__list .item-image--02 {
  order: 2;
}
.promotion-section--duo .promotion__list .item-information .item__text--percent {
  font-size: 2.5vw;
  margin-left: 0.5208333333vw;
  letter-spacing: 0;
}
.promotion-section--duo .promotion__list .item-information .text-unit {
  font-size: 1.3541666667vw;
  margin-left: -0.2604166667vw;
}
.promotion-section--duo .promotion__list .item-information .item__text {
  font-size: 2.0833333333vw;
  line-height: 1.3;
  letter-spacing: -0.1em;
  color: #000;
  font-weight: 100;
  white-space: nowrap;
}
.promotion-section--duo .promotion__list .item-information .item-information__top {
  margin-bottom: 1.5625vw;
}
.promotion-section--duo .promotion__list .item-information .item-information__top .item__name {
  font-size: 1.3541666667vw;
  font-weight: 300;
  color: #d37025;
}
.promotion-section--duo .promotion__list .item-information .item-information__top .item__title {
  font-size: 2.5vw;
  font-weight: 500;
}
.promotion-section--duo .promotion__list .item-information .item-information__bottom .report__list {
  margin: 0.8333333333vw 3.125vw 0 0;
  padding-left: 0.5208333333vw;
  font-size: 0.7291666667vw;
  color: #666;
  letter-spacing: -0.08em;
  line-height: 1.65;
  position: relative;
}
.promotion-section--duo .promotion__list .item-information .item-information__bottom .report__list * {
  display: inline-block;
}
.promotion-section--duo .promotion__list .item-information .item-information__bottom .report__list::before {
  content: "*";
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0.0520833333vw;
}/*# sourceMappingURL=main.css.map */